/* shared styles */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');
.font-merriweather {
    font-family: "Merriweather", serif;
  } 
  .font-inter {
    font-family: "Inter", sans-serif;
  }
/* header */
/* banner related styles */

.banner-img{
    display: flex;
    justify-content: center;
    margin-top: 100px;
} 
.banner-title{
    position: absolute;
    font-weight: 900;
    font-size: 72px;
    display: flex;
    top: 200px;
    left: 700px;
    text-align: center;
    color: #FFF;
}
.banner-subtitle{
    position: absolute;
    font-weight: 400;
    font-size: 32px;
    display: flex;
    top: 200px;
    left: 800px;
    text-align: center;
    color: #FFF;
} 

.all-categories-section{
    color: red;
    margin-top: 400px;
    margin-bottom:100px;
    text-align: center;
} 

/* header */

/* main */

/* midnight party section */

.midnight-party-img{
    display: flex;
    justify-content: center;
} 

.midnightparty-section-title{
    position: absolute;
    top: 2100px;
    left: 500px;
    color: #FFF;
    font-weight: 900;
    font-size: 64px;
}

.midnightparty-section-para-1{
    position: absolute;
    top: 2300px;
    left: 500px;
    color: #FFF;
} 

.midnightparty-section-para-2{
    position: absolute;
    top: 2350px;
    left: 500px;
    color: #FFF;
    font-weight: 700;
    font-size: 20px;
    font-family: "Inter", sans-serif;
} 

.midnightparty-img{
    position: absolute;
    top: 2100px;
    left: 1100px;
} 

.timing{
    display: flex;
    justify-content: center;
    margin-top: 100px;
    margin-bottom: 200px;
} 

.timing-of-party{
    position: absolute;
    text-align: center;
    top: 2900px;
    left: 700px;
    font-weight: 600;
    font-size: 32px;
} 

.btn{
    background-color: #FF0000;
    color: #FFFFFF;
    font-weight: 700;
    font-size: 20px;
    width: 167px;
    height: 56px;
    border: 0;
    border-radius: 10px;
}